<h1>User Login</h1>

<%= form_for @user do |form| %>

  <div class="mb-3">
    <%= form.label :email %>
    <br>
    <%= form.text_field :email %>
  </div>
  
  
  <div class="mb-3">
    <%= form.label :password %>
    <br>
    <%= form.text_field :password %>
  </div>

 <%= form.submit "Login", class: "btn btn-primary" %>

<% end %>