<h1>User Login</h1>

<%= form_tag '/login' do %>

  <div class="mb-3">
    <%= label_tag :email %>
    <br>
    <%= text_field_tag :email %>
  </div>
  
  
  <div class="mb-3">
    <%= label_tag :password %>
    <br>
    <%= text_field_tag :password %>
  </div>

 <%= submit_tag "Login", class: "btn btn-primary" %>

<% end %>